$colorPrimary: #0048ba;
$colorSecondary: #BA004A;
$colorBackground: #ffffff;
$colorLinkText: #4ABA00;

$spacingGap: 8px;
$spacingBreakpoint: 700px;
$spacingBorderRadius: 0px;
$spacingFocusOutlineSize: 4px;
