@use "common";

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#__next {
    isolation: isolate;
}

/* My stuff */
html, body, #__next {
    min-height: 100vh;
}
html {
    font-family: 'Manrope', sans-serif;
}
html {
    background-color: common.$colorBackground;
}
h1 {
    font-size: 32px;
}
@media (min-width: 700px) {
    h1 {
        font-size: 64px;
    }
}
h2 {
    font-size: 24px;
}
a {
    color: common.$colorLinkText;
    font-weight: 700;
}
a:hover {
    text-decoration-thickness: 3px;
}

.show-if-js{display:contents}
.show-no-js{display:none}
