@use "../../app/common";

.paper {
  order: var(--order);
  display: var(--display);
  height: 100%;
  padding: common.$spacingGap;
  text-align: center;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid common.$colorPrimary;
  border-radius: common.$spacingBorderRadius;
  opacity: var(--opacity);
}

.spacer {
  flex-grow: 1;
}
