body {
    background-color: #f1f1f1;
}
header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
    background-color: #6c4d70;
    box-shadow: 0 .25rem 0.25rem rgba(0,0,0,.15);
}
footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    background-color: #777777;
    box-shadow: 0 -.25rem 0.25rem rgba(0,0,0,.15);
    margin-top: 1rem;
}
footer a {
    color: white;
    text-decoration: underline;
    font-weight: 600;
}
footer a:hover {
    color: white;
}

.hide-without-js {
    display: none;
}

.filter-row {
    text-align: right;
}

.console-row {
    text-align: center;
}
.console-item {
    line-height: 1.2;
    padding-top: 8px;
    padding-bottom: 8px;
}
.console-item h1 {
    margin-bottom: 0px;
}
@media (min-width: 576px) {
    .console-item {
        padding: 4px;
    }
}
.console-content {
    padding-top: 8px;
}

#filterbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#filterbar-filter {
    text-align: right;
    flex: 0 0 100%;
}

#filterbar-include {
    flex: 0 0 100%;
}

#filterbar-order {
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    #filterbar-filter {
        flex-basis: auto;
    }
    #filterbar-include {
        flex-basis: auto;
    }
    #filterbar-order {
        flex-basis: auto;
    }
}

input {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
@media (min-width: 768px) {
    input {
        width: 10rem;
    }
    select {
        width: auto;
    }
}

label {
    margin-bottom: 0;
}